.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"] {
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.form-labels{
    margin-right: 10px;
}

.container p {
    font-size: 16px;
    margin-bottom: 10px;
}

button.btn-order {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    background-color: #de0a5a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-order:hover {
    background-color: #007791;
}

.container p.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}

.container div.order-id {
    margin-top: 20px;
    font-size: 16px;
}

.container div.order-id strong {
    font-weight: bold;
}

.back-to-market-button{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    background-color: #de0a5a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}