.frontpage-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(20%); /* Add a slight grayscale effect */
    opacity: 0.9; /* Reduce the opacity for a subtle effect */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition on hover */
}

.frontpage-image:hover {
    opacity: 1; /* Increase the opacity on hover */
    
}

.market-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Arial", sans-serif; /* Choose a modern font */
    font-size: 1.2rem; /* Increase the font size for better visibility */
    font-weight: 600; /* Use a slightly bold font weight */
    color: #ffffff; /* Set the button text color to white */
    background-color: #1e88e5; /* Use a vibrant blue color for the button background */
    border: none; /* Remove the button border */
    border-radius: 4px; /* Add a subtle border-radius */
    padding: 12px 24px; /* Increase the padding for better button size */
    cursor: pointer; /* Show a pointer cursor on hover */
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition on hover */
}

.market-button:hover {
    background-color: #1565c0; /* Darken the button background color on hover */
}

.market-button:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 0 3px #64b5f6; /* Add a custom focus style with a light blue shadow */
}