button {
    background-color: aqua;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;

}