.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-item {
    background-color: #006073;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
}

.button-item-addToCart {
    background-color: #de0a5a;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    color: white;
    cursor: pointer;
}

p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px;
}

/* Estilos para el contenedor principal del carrito */
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
}

